.body {
	background-color: darkgrey;
}

.title {
	color: #808080;
	font-size: 52px;
	text-align: center;
	text-transform: uppercase;
}

.input,
.result-container {
	background-color: #808080;
	border: solid 1px #FFF;
	color: darkgrey;
	font-size: 48px;
	padding: 2px;
	text-align: center;
	width: 100%;
}

.result-container {
	margin: 50px auto;
	width: 50%;
}

.result-container .title {
	color: #000;
	font-size: 18px;
	text-align: center;
}